
.slides {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    transition-duration: .3s;
    overflow: hidden;
    // .slide_header{
    //     height: 20vh;
    // }
    .textCon {
        height: 80vh;
        animation: welcome .3s;
        display: flex;
        align-items: flex-end;
        @keyframes welcome {
            0% {
                transform: translateX(100vw);
            }
            100% {
                transform: translateX(0vw);
            }
        }
        img,
        svg {
            width: 100%;
        }
    }
    .slide_footer {
        height: 20vh;
        hr {
            margin: 8px auto 24px auto;
            width: 24px;
            border: 3px solid;
            border-radius: 3px;
        }
    }
}
